<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- jQuery from CDNJS -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            country()
        })
        const test = () => {
            var q = $('#q').val()

            $.get("test", { q }, function (rt) {
                $('#data').html(rt)
            })
        }
        const search = (q) => {
            $.get("search", { q }, function (rt) {
                $("#search_data").html(rt)
            })
        }
        const country = () => {

            $.get("countires", {}, function (rt) {

                var options = "<option value='0'>---select country---</option>"
                rt.data.map(ele => {
                    options += `<option value="${ele.id}">${ele.name}</option>`

                })

                $("#country").html(options)

            })

        }

        const state = (cid) => {
            $.get("states", { cid }, function (rt) {

                var options = "<option value='0'>---select state---</option>"
                rt.data.map(ele => {
                    options += `<option value="${ele.id}">${ele.name}</option>`

                })

                $("#state").html(options)

            })
        }

        const city = (sid) => {
            $.get("cities", { sid }, function (rt) {

                var options = "<option value='0'>---select City---</option>"
                rt.data.map(ele => {
                    options += `<option value="${ele.id}">${ele.name}</option>`

                })

                $("#city").html(options)

            })
        }



    </script>
</head>

<body>
    <input type="text" id="q" placeholder="Enter query">
    <button onclick="test()">Submit</button>
    <div id="data"></div>

    <br>
    <hr>
    <br>

    <input type="text" onkeyup="search(value)">
    <div id="search_data"></div>

    <br>
    <hr>
    <br>


    <select name="country" id="country" onchange="state(value)">
        <option value="0">---select country---</option>
    </select>

    <select name="state" id="state" onchange="city(value)">
        <option value="0">---select state---</option>
    </select>

    <select name="city" id="city">
        <option value="0">---select city---</option>
    </select>

</body>

</html>