{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>Our Products</h1>
    <p>Explore our wide range of products.</p>
    <img src="static/images/1.png" alt="" width="200">
        <h3>Mystic qak</h3>
        <p>₹1,999</p>
    <img src="static/images/2.png" alt="" width="200">
        <h3>Publioteca</h3>
        <p>₹2,499</p>
    <img src="static/images/3.png" alt="" width="200">
        <h3>Glentabic</h3>
        <p>₹2,199</p>
    <img src="static/images/4.png" alt="" width="200">
        <h3>Miller</h3>
        <p>₹1,799</p>
{% endblock %}